body {
    background-color: #d2d6db ;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 22px;
    

}

.body-q1 {
    background-color: #dde5f0 ;
}

h2 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    text-decoration: underline;
    font-family: 'Josefin Slab', serif;

}

h3 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    font-family: 'Josefin Slab', serif;

}
    
p {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
    
}

.p2 {
    color: rgb(189, 96, 96);
    padding-top: 15px;
    font-size: 35px;
}

.question-p {
    font-size: 25px;
    font-family: 'Josefin Slab', serif;

}

/* needed the card to be centered */
.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 40px; 
}

.card-text {
    font-size: 20px;
    font-family: 'Josefin Slab', serif;

}

.card-body {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;

}

.card-header {
    font-size: 40px;
    font-family: 'Josefin Slab', serif;

}

/* the card had a blue background, wanted to overwrite that */
.list-group-item.active {
    background-color: #b4b0b0 !important;
    color: black;
    border: black;

}

.list-group {
    padding-top: 15px;
}
/* wanted to give the button more space to look nicer */
.btn {
    margin-bottom: 35px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    padding: 12px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Josefin Slab', serif;
    color: white !important;

    
}
/* wanted the form text to be larger */
form {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Josefin Slab', serif;

}

.initial {
    /* padding: 200px;
    padding-top: 20px;
    padding-bottom: 10px; */
    font-family: 'Josefin Slab', serif;
    color: rgb(41, 39, 44);
    font-size: 22px;


}

.initialForm {
    /* margin-left: 150px;
    margin-right: 150px; */
    font-family: 'Josefin Slab', serif;
    width: 100%;
    
}


.navbar-brand {
    font-size: 30px !important;
    font-weight: 700;
    color: #dde5f0 !important;
    font-family: 'Josefin Slab', serif;

}

.form {
    text-align: left;
}

#formGroupExampleInput {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    width: 100%;
    font-size: 25px;
    

}

#timer  {
    font-size: 40px;
    font-family: 'Josefin Slab', serif;
    margin-top: 30px; 
    border-radius: 2rem;
    background-color: rgba(135, 235, 157, 0.568);
}

/* had to be more specific to get the timer to recognize this */
#timer.timerRed {
    font-size: 40px;
    font-family: 'Josefin Slab', serif;
    margin-top: 30px; 
    border-radius: 2rem;
    background-color: rgba(235, 135, 135, 0.568);
}

/* change the main image on index to resize with the window, gave it some padding to make it look nicer */
.mainImage {
    size: auto;
    padding-top: 30px;
}

.buttonCss {

        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Courier New', Courier, monospace;
    }


#myQuestion {
    font-size: 25px;
    color: rgb(10, 10, 10);
    border-radius: 5px;
    padding: 15px;
}

#score {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.scoreQuestions {
    font-size: 55px;
}

#firstName {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.row {
    padding-bottom: 20px;
}

.carousel-item {
    padding-top: 40px;
    padding-bottom: 10px;
}
